@charset "utf-8";

/* PAGE BACKGROUND */
#page2 {
    position: relative;
    width: 100%;

    /* 자주 찾는 메뉴 아래에 배경 전용 공간 */
    padding-bottom: 250px;   /* 영역 높이 조절 */

    background-image: url("./images/mainbg.png");
    background-repeat: no-repeat;

    /* 배경 위치 */
    background-position: right bottom;

    /* 배경 크기 */
    background-size: 1000px auto;
}

#page2 .row4 {
    position: relative;
    z-index: 2;
}


.page_grid2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.movie_wrap .col {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 0.6s;
}

.movie_wrap .col:hover {
    background-size: auto 180%;
}

.movie_lst {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.movie_lst .col {
    width: 293px;
    height: 208px;
}

#movie1 { 
    background-image: url("./images/row03_1.jpg");
}

#movie2 { 
    background-image: url("./images/row03_2.jpg");
}

#movie3 { 
    background-image: url("./images/row03_3.jpg");
}

#movie4 { 
    background-image: url("./images/row03_4.jpg");
}

.movie_lst .col a, #movie1 a {
    display:block;
    width: 100%;
    height: 100%;
    background-image: url("./images/ico05.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.movie_lst .col a:hover, #movie1 a:hover {
    background: none;
}

.row4 {
    clear:both;
    width: 100%;
}

.box_tit {
    text-align: left;
    font-size:24px;
    font-family: 'GS';
}

.box_lst {
    display:flex;
    justify-content: space-between;
}

.box_lst .box_item a {
    display: block;
    width: 102px;
    height: 130px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.box_lst .box_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #051e41;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;        /* 아이콘 크기 */
    border-radius: 50%;          /* 원형 */
    transition: 0.5s;
}

.box_lst .box_item_tit {
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    height: 30px;
    position:absolute;
    left: 0;
    bottom:0;
}

#box_item1 .box_img {
    background-image: url("./images/box_icon1.png");
}


#box_item2 .box_img {
    background-image: url("./images/box_icon2.png");
}


#box_item3 .box_img {
    background-image: url("./images/box_icon3.png");
}


#box_item4 .box_img {
    background-image: url("./images/box_icon4.png");
}

#box_item5 .box_img {
    background-image: url("./images/box_icon5.png");
}

#box_item6 .box_img {
    background-image: url("./images/box_icon6.png");
}

#box_item7 .box_img {
    background-image: url("./images/box_icon7.png");
}

#box_item8 .box_img {
    background-image: url("./images/box_icon8.png");
}

#box_item9 .box_img {
    background-image: url("./images/box_icon9.png");
}

/* 모든 자주찾는 메뉴 hover 효과 통일 */
.box_lst .box_item a:hover .box_img {
    transform: rotate(360deg);
}