<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="head(pageTitle)">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${pageTitle} + ' - 청도군 문화관광'">청도군 문화관광</title>
  <link rel="stylesheet" th:href="@{/reset.css}">
  <link rel="stylesheet" th:href="@{/font2.css}">
  <link rel="stylesheet" th:href="@{/iconset.css}">
  <link rel="stylesheet" th:href="@{/tokens.css}">
  <link rel="stylesheet" th:href="@{/base.css}">
  <link rel="stylesheet" th:href="@{/components.css}">
  <link rel="stylesheet" th:href="@{/layout.css}">
  <link rel="stylesheet" th:href="@{/sub.css}">
  <link rel="stylesheet" th:href="@{/responsive.css}">
</head>
</html>
